.*

*.tsbuildinfo
*.tgz
*.node

!.gitignore
!.prettierignore
!.gitattributes
!.editorconfig
!.npmrc
!.cspell.config.yaml
node_modules/
target/
coverage/
transpiled/
typed/
bundled/
out/
bin/

generated/
logs/

!.vscode/
!.github/
